:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --lh: 1.33;
  --typical-margin: 20px;
  --main-font: "Open Sans", Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* a {
  color: currentColor;
} */
body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--color-dark {
  color: #303030;
}

.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 21px;
}

.title {
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title--dark {
  color: var(--second-title-color);
}

header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: var(--lh);
  letter-spacing: 0.1em;
  color: #ffffff;
  line-height: 1.71;
  transition: color 300ms linear;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.header__connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */
.connect__btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

.hero .container {
  display: flex;
}

.soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.soc-list {
  display: flex;
  align-items: center;
}

.hero__soc-list {
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}

.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.soc-list__item + .soc-list__item {
  margin-left: 40px;
}

.soc-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms linear;
}

.soc-list__link:hover {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303033;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content__pre-title {
  margin-bottom: var(--typical-margin);
}

.hero-content__title {
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: baseline;
}

.hero-content__title::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}

.hero-content__title::after {
  content: "";
}

.hero-content__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
}

.about {
  padding-top: 139px;
  padding-bottom: 92px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-list__item + .about-list__item {
  margin-left: 31px;
}

.about-content__pre-title {
  margin-bottom: var(--typical-margin);
}

.about-content__title {
  margin-bottom: var(--typical-margin);
}

.about-content__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: var(--second-btn-color);
}/*# sourceMappingURL=main.css.map */