/* ---------------HEADER---------------- */

/* ---------------HERO---------------- */

/* ---------------ABOUT---------------- */

/* ---------------PRICES---------------- */

/* ---------------BRNRFitS---------------- */

/* ---------------MASTER---------------- */

/* -------------------------- */

/* .master-soc-icon {
  fill: currentColor;
}

.master-soc-link:hover {
  background-color: teal;
  color: tomato;
} */

/* -------------------------- */

/* .master-soc-link:hover {
  background-color: teal;
}

.master-soc-link:hover .master-soc-icon {
  fill: tomato;
} */

/* ---------------GaLLERY---------------- */

/* ---------------ONLINE---------------- */

/* ---------------CONTACTS---------------- */
