:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --lh: 1.33;
  --typical-margin: 20px;
  --main-font: "Open Sans", Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* a {
  color: currentColor;
} */

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 21px;
}

.title {
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* ---------------HEADER---------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: var(--lh);
  letter-spacing: 0.1em;
  color: #ffffff;
  line-height: 1.71;
  transition: color 300ms linear;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */
.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

/* ---------------HERO---------------- */
.hero .container {
  display: flex;
}

.hero-soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms linear;
}

.hero-link:hover {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303033;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: baseline;
}

.hero-title::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}
.hero-title::after {
  content: "";
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
}

/* ---------------ABOUT---------------- */

.about {
  padding-top: 139px;
  padding-bottom: 92px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.about-title {
  color: var(--second-btn-color);
  margin-bottom: var(--typical-margin);
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/* ---------------PRICES---------------- */

.prices {
  background-color: #111319;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}
.prices-list {
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
  align-items: baseline;
}

.prices-item::before {
  content: "";
  height: 1px;
  width: 100px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item-text:first-child {
  order: -1;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
}

/* ---------------BRNRFitS---------------- */

.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits .container {
  display: flex;
  justify-content: space-between;
}

.benefits-content,
.benefits-blocks {
  width: calc(50% - 15px);
}

.benefits-blocks {
  display: flex;
  justify-content: center;
}

.benefits-content {
  padding-top: 10px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.benefits-item.dif {
  padding: 20px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  /* display: flex;
  justify-content: center; */
}

.benefits-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
  margin-left: 3px;
  display: inline-block;
  vertical-align: top;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  max-width: 500px;
}

/* ---------------MASTER---------------- */

.master {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}

.master-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.master-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.master-list {
  display: flex;
  margin-left: -30px;
}

.master-item {
  width: calc(100% / 3 - 30px);
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.master-item:hover .master-top-text {
  transform: translateY(0);
}

.master-top-wrap {
  position: relative;
  overflow: hidden;
}

.master-top-text {
  position: absolute;
  width: 100%;
  font-size: 18px;
  top: 0;
  color: #ffffff;
  line-height: 1.5;
  padding: 40px;
  background-color: rgba(255, 106, 0, 0.495);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.master-top-text::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.master-top-text::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

.master-top-text::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

/* .master-item {
  width: 370px;
}

.master-item:not(:last-child) {
  margin-right: 30px;
} */

.master-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}

.master-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 30px;
}

.master-soc-item {
  width: 44px;
  height: 44px;
}

.master-soc-item + .master-soc-item {
  margin-left: 10px;
}

.master-soc-list {
  display: flex;
  justify-content: center;
}

.master-soc-link {
  width: 100%;
  height: 100%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
}

.master-soc-link:hover {
  background-color: teal;
  fill: tomato;
}

/* -------------------------- */

/* .master-soc-icon {
  fill: currentColor;
}

.master-soc-link:hover {
  background-color: teal;
  color: tomato;
} */

/* -------------------------- */

/* .master-soc-link:hover {
  background-color: teal;
}

.master-soc-link:hover .master-soc-icon {
  fill: tomato;
} */

/* ---------------GaLLERY---------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}
