.about {
  padding-top: 139px;
  padding-bottom: 92px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-list__item + .about-list__item {
  margin-left: 31px;
}

.about-content__pre-title {
  margin-bottom: var(--typical-margin);
}
.about-content__title {
  margin-bottom: var(--typical-margin);
}
.about-content__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
}
.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: var(--second-btn-color);
}
